[submodule "modules/appweb"]
	path = modules/appweb
	url =  https://github.com/AbsoluteZero-ljz/appweb
[submodule "modules/appweb-doc"]
	path = modules/appweb-doc
	url = https://github.com/embedthis/appweb-doc
[submodule "modules/uorb"]
	path = modules/uorb
	url = https://github.com/shawnfeng0/uorb
[submodule "modules/glog"]
	path = modules/glog
	url = https://github.com/google/glog
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest
